* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

input[type=submit]:hover, a:hover {
  cursor: pointer;
}

body {
  font-size: 100%;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}